<link rel="stylesheet" href="css/error.style.css">

<div class="d-flex justify-content-center align-items-center">
  <div class="message-error text-center">
    <h1><span class="badge rounded-pill text-bg-warning">400</span>
      | Bad Request</h1>
    <p>Something went wrong.</p>
    <hr>
    <a href="/">return to home</a>
  </div>
</div>