<link rel="stylesheet" href="css/error.style.css">

<div class="d-flex justify-content-center align-items-center">
  <div class="message-error text-center">
    <h1>404 | Not Found</h1>
    <p><%= urlMessage %> not found</p>
    <hr>
    <a href="/">return to home</a>
  </div>
</div>