<link rel="stylesheet" href="css/error.style.css">

<div class="d-flex justify-content-center align-items-center">
  <div class="message-error text-center">
    <h1><span class="badge rounded-pill text-bg-danger">500</span>
      | Internal Server Error</h1>
    <p>Server is busy, try again later.</p>
    <hr>
    <a href="/">return to home</a>
  </div>
</div>