<div class="container">
  <div class="col">
    <h1 class="text-center">
      <%= result.title_log %>
    </h1>
    <p class="mt-4"><%= postedAt %></p>
    <hr>
    <div class="fs-5 mt-4">
      <%- result.body_log %>
    </div>
  </div>
  <div class="mt-5">
    <hr>
    <b style="cursor: pointer;"><%= result.tags %></b>
  </div>
</div>