<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow bg-form">
        <div class="card-header bg-secondary text-white text-center">
          <h4 class="mb-0">Masukkan PIN</h4>
        </div>
        <div class="card-body">
          <form action="/is_me" method="POST">
            <div class="mb-3">
              <input type="text" class="form-control bg-form" id="token" name="token" placeholder="PIN anda" required>
            </div>
            <button type="submit" class="btn btn-outline-secondary w-100">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>