<link rel="stylesheet" href="css/home.style.css">

<div class="wrapper-text d-flex flex-column justify-content-center align-items-center">
  <h1 id="h1"></h1> <br>
  <div class="mtop-2 text-center">
    <p>Saya <b><a href="/" class="text-decoration-none text-dark">Alwan Aditia</a></b>. Seorang <i>Web Developer</i> sekaligus mahasiswa IT. <br>
      Yang berfokus pada bidang Sistem Informasi dengan keterampilan membangun web. <br> <br>
      Mari <i>explore</i> situs ini agar anda dapat mengenal saya lebih lanjut :)
    </p>
    <a href="/" class="btn btn-sm btn-outline-secondary">Baca perjalanan saya</a>
  </div>
</div>

<script src="js/home.script.js"></script>