<link rel="stylesheet" href="css/home.style.css">


<div class="wrapper-text d-flex justify-content-center align-items-center">
    <h1 id="h1"></h1> 
</div>

<script src="js/home.script.js"></script>